@import "_variables.scss";

@mixin veritcalAlign {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 420px) { 
  nav{
    justify-content: space-between;
  }

  span.logo {
    font-size: 6vw;
    width: 50%
  }

  .rightNav {
    font-size: 4vw;
    width: 40%;
    padding-top: 0;
  }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
  nav{
    justify-content: space-between;
  }
  
  span.logo {
    font-size: 6vw;
    width: 50%
  }

  .rightNav {
    font-size: 4vw;
    width: 40%;
    padding-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    width: 100%;
    height: 5em;
    background-color: $desktop-nav-bkgrd-color;
   }
}

nav {
  height: 100px;
  color: $nav-font-color;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
  z-index: 2;
  display: flex row;
  width: 100%;
  position: fixed;
  top: 0;
}

span {
  font-family: $logo-font;
  font-size: 40px;
  display: inline-block;
  padding-top: 1em;
}

.rightNav {
  padding-top: 1em;
  display: flex;
  float: right;
  flex-direction: column;
}

@keyframes updown {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-30%);
  }
}

.navArrow {
  color: $primary-nav-color;
  @include veritcalAlign;
  animation: updown 2s ease infinite;
  display: visible;
}

.slogan {
  font-family: $font-stack;
  display: flex;
  flex-direction: row;
  height: 2.2em;
}

.boldSlogan{
  font-weight: bold;
}

.pointer {cursor: pointer;}

.upArrow{
  display: none;
  z-index: 0;
  bottom: 0;
  right:1%;
  position: fixed;
  font-size: 70px;
  color: $primary-nav-color;
}