header.profile {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e08e00;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  padding-top: 70px;
}

@media only screen and (min-width: 1024px) {
  header.profile {
    width: 40%;
    margin: 4em;
    margin-top: 5em;
    position:relative;
    top: 3em;
    padding-top: 0;
    padding-bottom:.25em;
    height: 270px
  }
}

.profPic {
  transform: scale(0.7, 0.7);
  align-self: center;
}

.userName {
  font-size: 20px;
  padding-top: 0%;
  margin-top:-60px;
  border-top: 0;
  z-index: 1;
  color: #FFFF;
  font-weight: lighter;
}

h2 {
  margin-top: 0;
  font-weight: lighter;
}

strong { font-weight: bold; }
