nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
}

span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  display: inline-block;
  padding-top: 1.5em;
}

.rightNav {
  padding-top: 1.5em;
  display: flex;
  float: right;
  flex-direction: column;
}

@keyframes updown {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-30%);
  }
}

.navArrow {
  color:crimson;
  display: flex;
  justify-content: center;
  animation: updown 2s ease infinite;
  display: visible;
}

.slogan {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  height: 2.2em;
}

.boldSlogan{
  font-weight: bold;
}

.pointer {cursor: pointer;}

.upArrow{
  display: none;
  z-index: 0;
  bottom: 0;
  right:1%;
  position: fixed;
  font-size: 70px;
  color: rgb(241, 63, 63);
}