
.tweetButton {
  background-color: #4056A1;
  color: #FFFF;
  font-size: 20px;
}

.bottomTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right:none;
  border-width: 3px;
  margin-bottom: .5em;
  height: 2em;
  font-size: 17px;
  font-weight: bold;
}

#hum {
  font-weight: bold;
  font-size: 20px;
  color: grey
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

textarea:focus {
  outline-width: 0;
}

textarea {
  overflow-y: scroll;
  height: 20px;
  resize: none;
}

.counter {
  font-size: 20px;
}

.error{
  display: none;
}

.errorMessages {
  background-color: rgb(236, 147, 147);
  color: white;
  font-size: 20px;
  border: 1px solid indianred;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorMessages > * {
margin-right: 8px;
}

.new-tweet{
  display: none;
}