article.tweet {
  color: grey;
  border: solid rgb(100, 98, 98);
  margin-top: 2em;
  font-weight: 550;
  font-size: 20px; 
  padding-left: 1em;
  padding-right: 1em;
}

article.tweet:hover {
  box-shadow: 6px 6px rgba(33, 33, 33, 0.2);
}

article.tweet header {
  font-size: 20px;  
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

article.tweet hr {
  border: 0.1em solid rgb(100, 98, 98);
  margin-top: 1.5em;
}

article.tweet footer {
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

.username {
  color:silver;
  font-weight: bold;
}

.tweet-text {
  padding-left: 0.5em;
  font-weight: 500;
  font-size: 21px;
  color: black;
}

.social i {
  color: navy;
  font-size: 16px;
  padding-left: 0.5em;
}

.social i:hover {
  color: goldenrod
}

.time {
  margin-top: 0;
}

.profile-pic {
  width: 40px;
  height: auto;
  align-self: center;
  margin-right: 0.5em;
}

.username-pic{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
}